uliweb-alembic
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
passlib==1.7.4
bcrypt==3.2.2
python-jose[cryptography]
alembic
python-multipart
two-fast-auth
fastapi-mail
pyotp
# Optional dependencies for additional features
httpx
# Optional dependencies for testing
pytest              
pytest-asyncio
validate-docbr==1.10.0